@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    overflow: hidden;
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #E1E5F2;
    font-family: 'Montserrat', sans-serif;
}
#root{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
option{
  font-size: 20px;
}
.slidebar::-webkit-scrollbar {
  width: 8px;
}

.slidebar::-webkit-scrollbar-track {
  border-radius: 7px;
  margin-block: 10px;
}

.slidebar::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background: #1f7a8ca8;
}

.hight-grow{
  transition: height 1s ease-in;
}

@keyframes fadeOut {
  0% {
    display: flex;
  }
  100% {
    display: none;
  }
}
.sidebar{
    max-width: 80px!important;
    transition: max-width 1s ease-out;
  }
  .sidebar_close{
    max-width: 20%!important;
    transition: max-width 1s ease-out;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .spinner-big{
    height: 100px!important;
    width: 100px!important;
  }
  .spinner,.spinner-big {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 5px solid transparent;
    border-radius: 50%;
    border-top-color: #ccc;
    animation: spin 1s linear infinite;
  }
  @keyframes slideIn{
    0%{
      transform: translateX(-100%);
      opacity: 0;
    }
    100%{
      transform: translateX(0);
      opacity: 100%;
    }
  }
  .slide-in{
    animation: slideIn 1s;
    transform: translateX(0px);
  }
  .slide-out{
    animation: slideOut 1s;
    transition: translateX 1s;
  }
  @keyframes widthIn{
    0%{
      width: 85%;
    }
    100%{
      width: 100%;
    }
  }
  .transition{
    animation: widthIn 1s;
  }

  @media(max-width: 700px){
    .showLink{
      opacity: 100%;
      transition: opacity 1s ease-out, width 1s ease-out;
    }
  }