@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    overflow: hidden;
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: lightgray;
}
@keyframes fadeOut {
  from {
    display: block;
  }
  to {
    display: none;
  }
}
.sidebar{
    max-width: 70px!important;
    transition: max-width 1s ease-out;
  }
  .sidebar_close{
    max-width: 20%!important;
    transition: max-width 1s ease-out;
  }
  .hiddenLink{
    opacity: 0;
    width: 0px;
    transition: opacity 1s ease-out, width 1s ease-out;
  }