@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    overflow: hidden;
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: lightgray;
}
.sidebar{
    max-width: 70px!important;
    transition: max-width 1s ease-out;
  }
  .sidebar_close{
    max-width: 20%!important;
    transition: max-width 1s ease-out;
  }